body {
  font-family: Arial, sans-serif;
  background-image: url('../img/background/background-cinema.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #1a1a1a;
  min-height: 100vh;
}

h1 {
  font-size: 60px;
  margin: 40px 0;
  text-align: center;
  color: #d4a574;
  text-shadow: 2px 2px 5px black;
  letter-spacing: 5px;
}

.container {
  width: 650px;
  background-color: rgba(0, 0, 0, 0.85);
  margin: 0 auto;
  padding: 40px;
  border: 5px solid #d4a574;
}

.gallery li {
  width: 130px;
  height: 180px;
  border: 4px solid #d4a574;
  float: left;
  margin-right: 18px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.gallery li img {
  width: 100%;
  height: 100%;
  display: block;
}

.gallery li span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(212, 165, 116, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  text-align: center;
  line-height: 180px;
  font-weight: bold;
  opacity: 0;
  transition: 0.3s;
}

.gallery li:hover span {
  opacity: 1;
}

.clear {
  clear: both;
}

/* overlay */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay:target {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
}

.overlay img {
  max-height: 80vh;
  max-width: 70vw;
  border: 10px solid #d4a574;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.5s;
}

.overlay:target img {
  opacity: 1;
  transform: scale(1);
}

.overlay .close {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  color: black;
  text-decoration: none;
  background-color: #d4a574;
  font-weight: bold;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.3s;
}

.overlay .close:hover {
  background-color: #f5e6d3;
  transform: scale(1.1);
}

.overlay:target .close {
  opacity: 1;
}

.overlay:target .next,
.overlay:target .prev {
  opacity: 1;
}

/* navigasi */
.next,
.prev {
  width: 60px;
  height: 60px;
  background-color: #d4a574;
  color: black;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.3s;
}

.next {
  right: 50px;
}

.prev {
  left: 50px;
}

.next:hover,
.prev:hover {
  background-color: #f5e6d3;
  transform: scale(1.1);
}