* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px/20px arial, sans-serif;
  background-color: #eaeaea;
  color: #333;
  background-image: url("./assets/images/t4a/subtle_pattern.png");
}

.container {
  width: 800px;
  margin: auto;
  background-color: #fff;
}

.header {
  padding: 20px;
  padding-bottom: 10px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
}

.header ul li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 20px;
}

.header a {
  text-decoration: none;
  color: salmon;
  padding: 3px;
}

.header a:hover {
  background-color: lightskyblue;
  color: white;
}

.hero {
  height: 280px;
  background-image: url("./assets/images/t4a/laptop.jpg");
  background-size: cover;
  background-position: 50 0;
  border-bottom: 5px solid lightskyblue;
  border-top: 5px solid salmon;
}

.content {
  padding: 20px;
}

.content h2 {
  font-size: 32px;
  font-weight: bold;
}

.content .penulis {
  font-size: 11px;
  margin-top: 20px;
}

.content .penulis a {
  color: salmon;
  text-decoration: none;
}

.content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.footer {
  background-color: #333;
  padding: 20px;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}
