body {
    background-color: aqua;
    font-family: Georgia;
}

h1 {
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 60px;
    color: darkblue;
}

#sosmed {
    color: white;
}

#sosmed:hover {
    color: red
}

#facebook:hover {
    color:white;
    background-color: darkblue;
}

#atas {
    color: orange;
}

h4 {
    text-align: right;
    font-style: italic
}

p {
    text-align: center;
}